
@media (min-width: 720px) {
	.varcont {
		margin-top: 50px;
  		width: 350px;
  		height: 500px;
  		border-radius: 8px;
  		position: relative;
  		border: 1px solid #000;
  		
  	}
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
	body {
		margin: 0px;
	}

	.varcont {
  		width: 100%;
  		height: 100%;
  		margin-top: 0px;		
  	}
}




body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.rabat {
	height: 55%;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    z-index: 0;
}

img.logo {
	height: 30%;
	margin-top: -40px;
}

.button {

	width: 80%;
	border: 2px solid #113356;
	margin-top: 20%;
	font-size: 25px;
	padding: 11px;
	text-transform: uppercase;
	position: absolute;
	margin: 0 auto;
	bottom:5%;
	left:0; right:0;
	color: #113356;
	border-radius: 4px;
}

.button:hover {
	background-color: #EFEBEB;
	cursor: ;
}


.cardgrid {
	display: table;
	border-spacing: 5px;
}

.cardgrid .card {
	
	border: 2px solid #113356;
	min-height: 200px;
	min-width: 200px;
	display: table-cell;
	border-radius: 15%;

}
#stamp_inL {
	opacity: 0.45;
}

#stamp_doM {
	opacity: 0.45;
}
table.stampgrid {

	padding: 30px;
}

table.stampgrid td img {
	height: 100px;
	width: 100px;
}

table.stampgrid tr.catLast {
	margin-bottom: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ac51b5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}
