<html>
	<head>
		<title>Kronos</title>
		<link rel='stylesheet' href="../static/styles/css/style.css" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600italic,700' rel='stylesheet' type='text/css'>

	</head>
	<body>
		<script type='text/javascript'>
			function selectImg(delta) {
				document.getElementById("rangePref").setAttribute('value',delta);

				if (delta=="inL") {
					document.getElementById("stamp_inL").style.opacity = 1;
					document.getElementById("stamp_doM").style.opacity = 0.45;
				}
				else {
					document.getElementById("stamp_doM").style.opacity = 1;
					document.getElementById("stamp_inL").style.opacity = 0.45;
				}
			}

			function submitForm () {
				document.getElementById('query1').submit();
			}
		</script>
		<center>
		<div class='varcont'>
			<form method='get' action='' id='query1'>
			<table class='stampgrid'>
				<tr>
					<td colspan='2'>Help us find the perfect destination for you: <br><br></td>
				</tr>

				<tr class='catLast'>
					<td align='left' onclick='selectImg("inL");'><img id='stamp_inL' src='../static/styles/img/stamp1.png'></td>
					<td align='right' onclick='selectImg("doM");'><img id='stamp_doM' src='../static/styles/img/stamp2.png'></td>
				</tr>

				<tr>
					<td colspan='2'><br><br>Budget:<br><input type='range' min='100' max='25000' name='budget' value='100' step='100'></td>
				</tr>

				<tr class='catLast'>
					<td align='left'>$100</td>
					<td align='right'>$25000</td>
				</tr>

				<tr>
					<td><input type='hidden' id='rangePref' name='rangePref' required></td>
				</tr>
				
			</table>
			<div class='button' onclick='submitForm()'>Continue</div>
			</form>
		</div>
		</center>
	</body>
</htmL>