/* Initializations, Font Specification, Margin/Padding Removal */
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:700');

body, html {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

* {
	font-family: "proxima-nova", sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	border-bottom: none;
}

/* Navigation .nav <Asmir> */

.nav {
	background-color: #535252;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #dedede;
	padding-left: 20%;
	padding-right: 20%;
}

	.nav ul {
		margin: 0;
		padding: 0;
		text-align: right;
		font-size: 1.2rem;
		color: #ececec;
	}

		.nav li {
			display: inline;
			line-height: 50px;
			width: 20px;
		}

		.nav li:not(:first-child) {
			margin-left: 20px;
		}

		.nav li:hover {
			color: #fff;
			transition: color 1s;
			-webkit-transition: color 1s;
		}

	.nav.wooden {
		background: none;
		border: none;
		background-image: url('../img/wood.png');
	}

/* Header .header <Ngolo> */

.header {
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
	margin-top: 3%;
}

.wooden {
	background-image: url('../img/wood.png') !important;
}

.transparent {
	background: none !important;
	border: none;
}

.header.transparent {
	color: #fff !important;
	margin-bottom: 30px;
}

	.header h1 {
		font-weight: 500;
		font-size: 2.5rem;
		line-height: 2.8rem;
	}

	.header h1.name {
		font-weight: 700;
		font-family: 'Cormorant Garamond', serif;
		font-size: 2.8rem;
		line-height: 2.9rem;
	}

	.header p {
		font-size: 1.1rem;
		color: #737373;
	}

	.header hr {
	   	opacity: 0.26;	
	   	margin-bottom: 12px;
	}

.centerShip {
	text-align: center;
	padding: 5px 0px;
}

.centerShipNP {
	text-align: center;
}

.button {
	border: 1px solid #737373;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 10px 0px;
    text-transform: uppercase;
    transition: all 170ms ease-in-out;
	color: #737373;
	display: inline-block;
	width: 200px;
	text-align: center;
	margin: auto;
	
}

.button:hover {
	background: #535252;
    color: #fff !important;
	cursor: pointer;
	border: 1px solid #737373;
}

.button:not(:first-of-type) {
	margin-left: 10px;
}

/* Project Grid .project <Nemanja> */

.projectGrid {
	display: flex;
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
	flex-wrap: wrap;

}
	.projectGrid b {
		font-weight: 500;
		font-size: 1.4rem;
	}

	.projectGrid .project {
  		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  		margin-bottom: 30px;
  		flex-grow: 1;
		flex-basis: 0;
	}

	.projectGrid .project.polaroid {
		background-color: #fff;
		box-shadow: -6px 7px 2px 0px rgba(14, 14, 14, 0.28);
		padding: 10px;
	}

	.projectGrid .project.polaroid p {
		padding: 0;
		text-align: center;
		padding-top: 15px;
		color: #000;
		font-size: 1rem;
	}

	

	.projectGrid .project.wide {
		flex-grow: 2;
	}

	.projectGrid .project .featureIMG {
		background-color: #c7c7c7;
		width: 100%;
		height: 200px;
		background-size: cover;
		background-position: center;
	}

	.projectGrid .project.polaroid .featureIMG {
		background-color: #c7c7c7;
		height: 200px;
		background-size: cover;
		background-position: center;
		margin: 0px auto;
	}

	.projectGrid .project p {
		padding: 10px;
		margin: 0;
		color: #575757;
	}

	.projectGrid .project b {
		color: #000;
	}


	.projectGrid .project p span.toolbox {
		color: #949494;
		letter-spacing: 0.07rem;
		font-size: 0.85rem;
	}

	.polaroid:hover > .project.polaroid .featureIMG {
		background-size: 110%;
	}

	.projectGrid .project:not(.project1):not(.project3) {
		margin-left: 30px;
	}

	.projectGrid .project:hover {
		cursor: pointer;
		border-bottom-color: #272727;
	}

	.icon {
		height: 80px;
		width: 80px;
		border-radius: 5px;
		box-shadow: 1px 2px 1px 0px rgba(14, 14, 14, 0.18);
		background-size: 100%;
		margin: 0 auto;
		
	}

	hr.inv {
		margin-top: 5px;
		margin-bottom: 5px;
		opacity: 0;
	}

/* Footer .footer <Solanke> */

.footer {
	width: 60%;
	height: 60px;
	border-top: 1px solid #c7c7c7;
	margin-left: 20%;
	margin-top: 15px;
	margin-right: 20%;
	font-size: 1.2rem;
	color: #6f6f6f;
}



/* Content Pages */

.header.contentPage {
	text-align: center;
}

.header.contentPage h1 {
	margin-bottom: 10px;
	font-size: 2rem;
	line-height: 2rem;
}

.header.contentPage p {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}

.header.contentPage p.tools {
	color: #6f6f6f;
	font-size: 1rem;
	margin-bottom: 1rem;
}

.header.contentPage img.logo {
	height: 100px;
	margin-bottom: 10px;
}


.infoBox {
	padding-left: 20%;
	padding-right: 20%;
	background-color: #272727;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
}

.infoBox table {
	width: 100%;
	color: #fff;
	text-align: left;
	table-layout: fixed;
}

.infobox table tr td {
	vertical-align: top;
}

.mainPost {
	padding-left: 20%;
	padding-right: 20%;
}

.mainPost p {
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 300;
}

.mainPost ul li {
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 300;
	margin-top: 10px;
}

.mainPost ol li {
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-weight: 300;
	margin-top: 10px;
}

.mainPost i {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 300;
	color: #565656;

}

.mainPost h2 {
	font-weight: 600;
	margin-bottom: 0;
    color: #565656;
}

.mainPost b {
	color: #565656;
}

.mainPost b.nh {
	/* Non-heading */
	font-weight: 400;
    color: #000;
}

.full-picture {
	width: 100%;
	height: 400px;
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
}

span.mobileOnly {
	display: none;
}

h3.button {
    border: 3px solid #272727;
    box-shadow: 5px 5px rgba(4, 4, 4, 0.2);
	padding: 30px;
	font-weight: 400;
	width: 60%;
}

h3.button:active {
  background-color: #272727;
  color: #fff;
}

@media only screen and (max-width: 500px) {
    .mainPost {
		padding-left: 5%;
		padding-right: 5%;
	}

	.header {
		padding-left: 5%;
		padding-right: 5%;
	}

	.footer {
		height: 60px;
		margin-left: 5%;
		margin-top: 15px;
		width: 90%;
	}

	.nav {
		width: 100%;
		padding-left: 5%;
		padding-right: 5%;
	}

	.infoBox {
		padding-left: 2%;
		padding-right: 2%;
		font-size: 0.9rem;
	}

	.infoBox table {
		font-size: 0.75rem;
		vertical-align: top;
	}

	.projectGrid {
		padding-left: 5%;
		padding-right: 5%;
	}

	.projectGrid .project {
		width: 100%;
		margin-bottom: 18px;
		flex-basis: initial;
	}

	.projectGrid .project:not(.project1):not(.project3) {
		margin-left: 0px;
	}

	.nav ul li.special a span.normText {
		display: none;
	}

	iframe {
		overflow: auto;
		width: 100%;
	}

	span.mobileOnly {
		display: block;
	}

	span.desktopOnly {
		display: none;
	}

	.header.contentPage h1 {
		font-size: 1.6rem;
	}

	.header.contentPage p {
		font-size: 1rem;
	}

	.full-picture {
		height: 240px;
	}


}
