body, html {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color:#f5f9fa;
}

* {
	font-family: "proxima-nova", sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	border-bottom: none;
}


/* Navigation .nav <Jorginho> */
section.nav {
    width: 100%;
    text-align: center;
}

    .nav .linkbox {
        margin: 0 auto;
        width: 50%;
        padding: 30px 0;
        text-align: center;
        border-bottom: 1px solid #c7c7c7;
    }

    .nav .link {
        display: inline-block;
        padding: 15px;
        height: 1rem;
    }


    .nav .link a {
        color: #6b6a6a;
    }

    .nav .link a:hover {
        color: #000 !important;
    }

    .nav .link a i {
        margin-right: 5px;
    }


/* Header .header <Alvaro> */
section.header {
    width: 100%;
    text-align: center;
    color: #6b6a6a;
}


    .header h1.name {
        font-weight: 400;
        font-size: 2rem;
        color: #000;
        margin: 40px 0 30px 0;
    }
    
    .header p.bio {
        width: 50%;
        margin: 0 auto;
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-align: left;
    }

    .header p.bio  a:hover {
        color: #949494 !important;
        border-bottom: 1px solid #949494;
    }

    .header p.bio a{
        color: #6b6a6a !important;
        border-bottom: 1px solid #6b6a6a;
    }

/* Projects .projects <Ruben> */
section.projects {
    width: 50%;
    margin: 20px auto;
    padding: 20px 0;
}

    .projects .project-row {
        width: 100%;
        font-size: 0;
        margin-bottom: 20px;
    }

    .projects .project-row .project {
        display: inline-block;
        background-color: #fff;
        border-radius: 10px;
        width: calc(50% - 10px);
        -webkit-box-shadow: 0 2px 4px rgba(60,66,68,.05);
        box-shadow: 0 2px 4px rgba(60,66,68,.05);
        -webkit-transition: .3s ease-out all;
        -webkit-transition: .3s ease-out all;
        transition: .3s ease-out all;
        position: relative;
        z-index: 2;
        overflow: hidden;
        font-size: inherit;
    }

    .projects .project-row .project:first-of-type {
        margin-right: 20px;
    }

    .projects .project-row .project .thumbnail {
        background-color: #c7c7c7;
		width: 100%;
        height: 200px;
        position: relative;
        z-index: 3;
        background-size: cover;
        background-position: center;
    }

    .projects .project-row .project:hover {
        -webkit-box-shadow: 0 50px 100px -30px rgba(60,66,68,.3);
        box-shadow: 0 50px 100px -30px rgba(60,66,68,.3);
    }

    .projects .project-row .project .content {
        padding: 20px;
    }

    .projects .project-row .project span.toolbox {
		color: #949494;
		letter-spacing: 0.07rem;
		font-size: 0.85rem;
    }
    
    .projects .project-row .project b {
        font-size: 1.4rem;
        font-weight: 400;
        display: block;
        margin: 5px 0;
    }
    
    .projects .project-row .project p {
        font-size: 1rem;
        color: #6b6a6a;
        margin: 0;
    }
    

section.blog {
    margin: 20px auto;
    width: 50%;
}

    section.blog .para h1 {
        font-weight: 400;
        font-size: 2rem;
        color: #000;
        text-align: center;
        margin: 0 auto;
    }


    section.blog .para p {
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: #6b6a6a;
        font-weight: 400;
    }

    section.blog .para p.post {
        margin: 10px 0 !important;
        text-align: left;
    }

    section.blog .para p.tools {
        color: #6f6f6f;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    section.blog .para p.tools, section.blog .para p.tools, section.blog .para .full-picture, section.blog .para .full-video {
        margin: 0 auto;
        text-align: center;
    }

    section.blog .para img.logo {
        height: 100px;
        margin-bottom: 10px;
        width: 100%;
    }

    .icon {
		height: 80px;
		width: 80px;
		border-radius: 5px;
		box-shadow: 1px 2px 1px 0px rgba(14, 14, 14, 0.18);
		background-size: 100%;
		margin: 0 auto;
    }
    
    section.blog .para .full-picture {
        width: 100%;
        height: 400px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        
    }

    
    .entry ul li {
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 300;
        margin-top: 10px;
    }
    
    .entry  ol li {
        font-size: 1.2rem;
        line-height: 1.8rem;
        font-weight: 300;
        margin-top: 10px;
    }
    
    .entry i {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 300;
        color: #565656;
    
    }
    
    .entry h2 {
        font-weight: 600;
        margin-bottom: 0;
        color: #565656;
    }
    
    .entry b {
        color: #565656;
    }
    
    .entry b.nh {
        /* Non-heading */
        font-weight: 400;
        color: #000;
    }



section.footer {
    border-top: 1px solid #c7c7c7;
    width: 50%;
    margin: 0 auto;
    position: relative;
    padding: 30px;
} 

    .footer p {
        position: absolute;
        top: 0;
    }

    .footer p.left {
        left: 0;
    }

    .footer p.right {
        right: 0;
    }
